<h1>Welcome to B and C's B an B</h1>

<form action="/booking" method="post">
  <label for="first_name">First Name:</label>
  <input type="text" name="first_name">
  <label for="last_name">Last Name:</label>
  <input type="text" name="last_name">
<br>
<label for="type">Select Room type:</label>
<select name="type">
  <option value="Single">Single</option>
  <option value="Double">Double</option>
  <option value="Family">Family</option>
  <option value="Suite">Suite</option>
  <option value="By_the_hour_room">Room for an hour...</option>
</select>
<hr>
<label for="breakfast">Would you like breakfast?:</label>
<select name="breakfast">
  <option value="Yes">Yes</option>
  <option value="No">No</option>
</select>

<label for="nights">Nights:</label>
<input type="number" name="nights">
<Hr>
<input type='submit' value="Submit Booking">
</form>